<h1><%= @restaurant.name %></h1>
<h3><%= @restaurant.category %></h3>
<p><%= "ðŸ  #{@restaurant.address}" %></p>
<p><%= "â˜Žï¸ #{@restaurant.phone_number}" %></p>
<p>--------------------------------------------</p>
<h3>Reviews</h3>
<ul>
  <% Review.all.each do |review| %>
  <li><%= review.content  %></li>
  <% end %>
</ul>

<%= link_to "Back", restaurants_path  %> | <%= link_to "Write a review", new_restaurant_review_path(@restaurant) %>
